

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email</title>
    <link rel="stylesheet" href="~/styles/HomeStyle.css" />
</head>>


<body>

    <a class="button"> Reeds verzonden emails</a>
    <a class="versturen">Versturen</a>

    <form>
        <input type="text" placeholder="E-mailadres/tags/achternaam">
        <textarea></textarea>
    </form>
</body>

