



@{ ViewBag.Title = "Emails";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<a class="button"> Reeds verzonden emails</a>
<a class="versturen">Versturen</a>

<form>
    <input type="text" placeholder="E-mailadres/tags/achternaam">
    <textarea></textarea>
</form>
</body>

