@model MailChimp.ViewModels.bigmodel


@{
    ViewBag.Title = "BigModelDemo";
}

<h2>BigModelDemo</h2>


<select>
    @*Iterating Employee ViewModel *@
    @foreach (var item in Model.LabelsList)
    {
        <option>@item.lname</option>

    }
</select>


<select>
    @*Iterating Employee ViewModel *@
    @foreach (var item in Model.ContactpersonList)
    {
        <option>@item.firstname</option>

    }
</select> 