
@{
    ViewBag.Title = "Index";
}

<h2>Klant Toevoegen</h2>

<style>
    .Toevoegen {
        background-color: orange;
        border: none;
        color: black;
        padding: 15px 50px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        transition-duration: 0.4s;
        position: absolute;
        left: 700px;
        top: 550px;
    }

    .Toevoegen:hover {
        background-color: orange;
        color: white;
    }

    .Toevoegen:active {
        background-color: orange;
        box-shadow: 0 5px orange;
        transform: translateY(4px);
    }

</style>

<body>
 
    <form>
        <input type="text" placeholder="Bedrijfsnaam">
        <input type="text" placeholder="Straatnaam">
        <input type="text" placeholder="Straatnummer" top="500px">
        <input type="text" placeholder="Tussenvoegsel">
        <input type="text" placeholder="Postcode">
        <a class="Toevoegen"> Toevoegen</a>
    </form>

</body>
